<h1><%= current_user.name %>さんのお気に入り一覧</h1>

<ul>
  <% @my_favorites.each do |favorite| %>
  <li>
    <p><%= favorite.created_at.strftime("%Y.%m.%d") %>にお気に入り登録しました</p>
    <p><%= @questions.find(favorite.question_id).title %></p>
    <p><%= @questions.find(favorite.question_id).content %></p>
    <hr>
  </li>
  <% end %>
</ul>
