// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon{
   text-align: right;
}

.line{
  border-bottom: 1px dashed black;
}

.contribution{
   text-align: center;
}

.favorite{
   text-align: center
}

.time{
  text-align: right;
  color: black;
  margin-bottom: 10px;
}
