<% if user_signed_in? %>
  <% if is_answer_vote?(answer) %>
    <%= link_to question_answer_vote_path(answer.question.id, answer.id, answer.vote_user(current_user), params: {question_or_answer: "answer"}), method: :delete, remote: true do %>
      <div class="btn btn-success">
        いいね！
        <% if answer.votes != nil %>
          <%= answer.votes.count %>
        <% else %>
          0
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= link_to question_answer_votes_path(answer.question.id, answer.id, params: {question_or_answer: "answer"}), method: :post, remote: true do %>
      <div class="btn btn-default">
        いいね！
        <% if answer.votes != nil %>
          <%= answer.votes.count %>
        <% else %>
          0
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
